<div class="mantener-productos">
  <div class="popup-mantener">
    <div class="wrapper-total content-mantener-producto animate__animated animate__bounceInUp">
      <form class="form-body" action="/mantener-producto" method="POST">
        <div class="mantener-heading">
          <h1>Agregar Producto</h1>
          <a href="#" class="search-button" id="search-producto" onclick="popup_add_producto()">
            <i class="fas fa-search"></i>
          </a>
        </div>
        <div class="wrapper-content">
          <div class="inputs">
            <input autocomplete="off" name="nombre_producto" class="form-control" placeholder="Nombre Producto"
              type="text" required>
            <input autocomplete="off" step="0.01" type="number" class="form-control" placeholder="Precio" name="precio"
              required>
            <input autocomplete="off" name="stock" class="form-control" placeholder="Stock" type="number" required>
          </div>
        </div>
        <div class="button-wrapper">
          <div class="form-group mt-2 mr-1 btnCancelar">
            <a class="btn btn-danger close-popup-mantener-producto" href="/mantener-producto"
              onclick="popup_close_producto()">Cancelar</a>
          </div>
          <div class="form-group mt-2 btnRegistrar">
            <button class="btn btn-success" type="submit">Agregar Producto</button>
          </div>
        </div>
      </form>
    </div>
  </div>

  {{!-- Buscar Producto --}}

  <div class="popup-add-producto">
    <div class="buscar-popup animate__animated animate__bounceInUp">
      <form class="form-body" action="/mantener-entrada" method="POST">
        <h1 class="mantener-heading-buscar">Buscar Producto</h1>
        <a href="#" id="close-popup" onclick="popup_close_producto()"><i class="fas fa-times"></i></a>
        <input type="text" class="form-control" placeholder="Filtrar por Nombre" id="input-popup-buscar">
        <div class="row mx-auto mt-2 table-fixed table-fixed-popup-buscar">
          <table class="table table-sm">
            <thead class="thead-dark">
              <tr>
                <th scope="col">#</th>
                <th scope="col">Nombre Producto</th>
                <th scope="col">Precio</th>
                <th scope="col">Stock</th>
                <th scope="col">Actions</th>
              </tr>
            </thead>
            <tbody id="table">
              {{#each producto}}
              <tr>
                <td scope="row">{{index @index}}</td>
                <td>{{nombre_producto}}</td>
                <td>{{money precio}}</td>
                <td>{{stock_total}}</td>
                <td id="action-buttons">
                  <a href="/mantener-producto/hide/{{cod_prod}}">
                    <button type="button" class="btn btn-info btn-sm">
                      <i class="fas fa-eye"></i>
                    </button>
                  </a>
                </td>
              </tr>
              </tr>
              {{/each}}
            </tbody>
      </form>
    </div>
  </div>
</div>
<script>
    const searchbar = document.getElementById('input-popup-buscar');
    searchbar.addEventListener('keyup',()=>{
        const term = searchbar.value.toLowerCase();
        const table = document.getElementById('table');
        const rows = table.getElementsByTagName('tr');
        Array.from(rows).forEach((rows)=>{
            const name = rows.children[1].textContent;
            if(name.toLowerCase().indexOf(term)!=-1){
                rows.style.display='table-row';
            }else{
                rows.style.display='none';
            }
        });
    })
</script>