<div class="mantener-productos animate__animated animate__zoomInDown">
  <div class="title">
      <div class="title-label">
        <i class="fas fa-hamburger"></i>
        <label>Mantener Productos</label>
      </div>
      <a href="/mantener-producto/add" id="add-mantener-producto-btn" onclick="popup_add_producto()">
        <button type="button" class="btn btn-success btn-sm">
          <i class="fas fa-plus"></i>
        </button>
      </a>
    </div>
  <div class="row mx-auto mt-2 table-fixed table-fixed-2">
    <table class="table table-sm">
      <thead class="thead-dark">
        <tr>
          <th scope="col">#</th>
          <th scope="col">Nombre Producto</th>
          <th scope="col">Precio</th>
          <th scope="col">Stock</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody id="table">
        {{#each producto}}
        <tr>
          <td scope="row">{{index @index}}</td>
          <td>{{nombre_producto}}</td>
          <td>{{money precio}}</td>
          <td>{{stock_total}}</td>
          <td id="action-buttons">
            <a href="/mantener-producto/edit/{{cod_prod}}">
              <button id="edit_button" type="button" class="btn btn-primary btn-sm">
                <i class="fas fa-edit"></i>
              </button>
            </a>
            <a href="/mantener-producto/hide/{{cod_prod}}">
              <button type="button" class="btn btn-secondary btn-sm">
                <i class="fas fa-eye-slash"></i>
              </button>
            </a>
          </td>
        </tr>
        </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
</div>