<div class="mantener-productos animate__animated animate__zoomInDown">
  <div class="title">
      <div class="title-label">
        <i class="fas fa-hamburger"></i>
        <label>Mantener Usuario</label>
      </div>
      <a href="/mantener-usuario/add" id="add-mantener-producto-btn">
        <button type="button" class="btn btn-success btn-sm">
          <i class="fas fa-plus"></i>
        </button>
      </a>
    </div>
  <div class="row mx-auto mt-2 table-fixed table-fixed-2">
    <table class="table table-sm">
      <thead class="thead-dark">
        <tr>
          <th scope="col">#</th>
          <th scope="col">Usuario</th>
          <th scope="col">Password</th>
          <th scope="col">Empleado</th>
          <th scope="col">Rol</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody id="table">
        {{#each usuario_emp}}
        <tr>
          <td scope="row">{{index @index}}</td>
          <td>{{usuario}}</td>
          <td><input name="viewPass" type="password" value="{{password}}" style="background: transparent; border:none; text-align:center; outline:none;" readonly></td>
          <td>{{nombres}} {{apellidos}}</td>
          <td>{{rol_nombre}}</td>
          <td id="action-buttons">
            <a href="/mantener-producto/edit/{{cod_prod}}">
              <button id="edit_button" type="button" class="btn btn-primary btn-sm">
                <i class="fas fa-edit"></i>
              </button>
            </a>
            <a href="javascript:void(0)">
              <button name="dynamic" type="button" class="btn btn-secondary btn-sm">
                <i class="fas fa-eye" aria-hidden="true"></i>
              </button>
            </a>
          </td>
        </tr>
        </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
</div>
<script>
  var myButton = document.getElementsByName('dynamic');
  var myInput = document.getElementsByName('viewPass');
  myButton.forEach(function(element, index){
    element.onclick = function(){
      'use strict';

        if (myInput[index].type == 'password') {
          myInput[index].setAttribute('type', 'text');
          //element.firstChild.textContent = 'Hide';
          //element.firstChild.className = "";

        } else {
          myInput[index].setAttribute('type', 'password');
          //element.firstChild.textContent = '';
          //element.firstChild.className = "glyphicon glyphicon-eye-open";
        }
    }
  })
</script>