<div class="wrapper-total animate__animated animate__zoomInDown">
  <div class="mantener-header form-inline">
    <div class="title m-0 form-inline">
      <div class="title-label form-inline">
        <i class="fas fa-users"></i>
        <label>Mantener Usuario</label>
      </div>
      <a href="/mantener-usuario/add" id="add-mantener-producto-btn">
        <button type="button" class="btn btn-success btn-sm">
          <i class="fas fa-plus"></i>
        </button>
      </a>
    </div>
  </div>
  <div class="container">
    <table class="display compact" id="myTable" style="width:100%; text-align: center;">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Usuario</th>
          <th scope="col">Password</th>
          <th scope="col">Empleado</th>
          <th scope="col">Rol</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody id="table">
        {{#each usuario_emp}}
        <tr>
          <td scope="row">{{index @index}}</td>
          <td>{{usuario}}</td>
          <td><input name="viewPass" type="password" value="{{password}}" readonly></td>
          <td>{{nombres}} {{apellidos}}</td>
          <td>{{rol_nombre}}</td>
          <td id="action-buttons">
            <a href="javascript:void(0)">
              <button name="dynamic" type="button" class="btn btn-secondary btn-sm">
                <i class="fas fa-eye" aria-hidden="true"></i>
              </button>
            </a>
            <a href="/mantener-usuario/edit/{{cod_usuario_emp}}">
              <button id="edit_button" type="button" class="btn btn-primary btn-sm">
                <i class="fas fa-edit"></i>
              </button>
            </a>
            <a href="/mantener-usuario/delete/{{cod_usuario_emp}}" onclick="return confirm('¿Esta seguro que desea eliminar este elemento?');">
              <button type="button" class="btn btn-danger btn-sm">
                <i class="fas fa-trash-alt"></i>
              </button>
            </a>
          </td>
        </tr>
        </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
</div>
<script>
  var myButton = document.getElementsByName('dynamic');
  var myInput = document.getElementsByName('viewPass');
  myButton.forEach(function (element, index) {
    element.onclick = function () {
      myInput[index]
      if (myInput[index].type == 'password') {
        myInput[index].setAttribute('type', 'text');
        //Testing: returns #text
        console.log(element.firstChild);
        element.firstChild.nextSibling.className = "fas fa-eye-slash";
      } else {
        myInput[index].setAttribute('type', 'password');
        element.firstChild.nextSibling.className = "fas fa-eye";
      }
    }
  })
</script>