<div class="mantener-productos">
  <div class="popup-mantener">
    <div class="wrapper-total content-mantener-producto animate__animated animate__bounceInUp">
      <form class="form-body" action="/mantener-segundo/edit/{{carta.cod_carta}}" method="POST" enctype="multipart/form-data">
        <div class="mantener-heading">
          <div class="mantener-heading--title">
            <h1>Modificar Segundo</h1>
            <i class="fas fa-hamburger"></i>
          </div>
        </div>
        <div class="wrapper-content">
          <div class="inputs form-group mb-2">
            <div class="form-group">
              <label class="m-0">Segundo</label>
              <input autocomplete="off" name="nombre" class="form-control" type="text" value="{{carta.nombre}}" required>
            </div>
            <div class="form-check form-check-inline">
              <input name="lleva_pollo" class="form-check-input" type="checkbox" id="lleva_pollo" {{#if carta.lleva_pollo}}checked{{/if}}>
              <label class="form-check-label" for="lleva_pollo">¿Lleva pollo?</label>
            </div>
            <div class="form-group">
              <label class="m-0">Descripcion</label>
              <textarea name="descripcion" class="form-control" rows="3" style="resize: none;">{{carta.descripcion}}</textarea>
            </div>
            <div class="form-group">
              <label class="m-0">Precio</label>
              <input autocomplete="off" step="0.01" type="number" class="form-control" name="precio" value="{{carta.precio}}" required>
            </div>
            <div class="form-group">
              <label class="m-0">Stock</label>
              <input autocomplete="off" name="stock" class="form-control" type="number" value="{{carta.stock}}" required>
            </div>
            <div class="form-group">
              <label class="m-0">Imagen Segundo</label>
              <div class="custom-file">
                <input type="file" name="image" class="custom-file-input" accept="image/*" id="image">
                <label class="custom-file-label" for="image">{{carta.pathname}}</label>
              </div>
              <div class="form-group col d-flex justify-content-center">
                <img class="mb-0" src="../../uploads/{{carta.pathname}}" alt="No image" height="80px">
              </div>
            </div>
          </div>
        </div>
        <div class="button-wrapper">
          <div class="form-group mt-2 mr-1 btnCancelar">
            <a class="btn btn-danger" href="/mantener-segundo">Cancelar</a>
          </div>
          <div class="form-group mt-2 btnRegistrar">
            <button class="btn btn-success" type="submit">Modificar Segundo</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
<script>
  $('#image').on('change',function(){
    //get the file name
    var fileName = $(this).val();
    //removing C:\fakepath\
    console.log(fileName.split("\\")[2])
    //replace the "Choose a file" label
    $(this).next('.custom-file-label').html(fileName.split("\\")[2]);
  })
</script>