{{!-- mantener-productos --}}
<div class="wrapper-total animate__animated animate__zoomInDown">
  <div class="mantener-header form-inline">
    <div class="title m-0 form-inline">
      <div class="title-label form-inline">
        <i class="fas fa-hamburger mr-2"></i>
        <label>Mantener Segundo</label>
      </div>
      <a href="/mantener-segundo/add" id="add-mantener-producto-btn">
        <button type="button" class="btn btn-success btn-sm">
          <i class="fas fa-plus"></i>
        </button>
      </a>
    </div>
  </div>
  <div class="container">
    <table class="display compact" id="myTable" style="width:100%; text-align: center;">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Nombre</th>
          <th scope="col">Precio</th>
          <th scope="col">Stock</th>
          <th scope="col">Imagen</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody id="table">
        {{#each carta}}
        <tr>
          <td scope="row">{{index @index}}</td>
          <td>{{nombre}}</td>
          <td>{{money precio}}</td>
          <td>{{stock}}</td>
          <td><img src="uploads/{{pathname}}"></td>
          <td id="action-buttons">
            <a href="/mantener-segundo/edit/{{cod_carta}}">
              <button id="edit_button" type="button" class="btn btn-primary btn-sm">
                <i class="fas fa-edit"></i>
              </button>
            </a>
            <a href="/mantener-segundo/delete/{{cod_carta}}" onclick="return confirm('¿Esta seguro que desea eliminar este elemento?');">
              <button type="button" class="btn btn-danger btn-sm">
                <i class="fas fa-trash-alt"></i>
              </button>
            </a>
          </td>
        </tr>
        </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
</div>