<form class="form-body" action="/carta/detalle-item/{{carta.cod_carta}}" method="POST" enctype="multipart/form-data">
  {{>login-navbar}}
  <div class="login-wrapper">
    <div class="detalle-item">
      <img src="/uploads/{{carta.pathname}}" alt="{{carta.nombre}}">
      <div class="item-description">
        <div class="detalle-head">
          <span class="name">{{carta.nombre}}</span>
          <input type="number" id="precio_shown" value="{{carta.precio}}" readonly>
          {{!-- <input type="number" id="precio" value="{{carta.precio}}" hidden> --}}
        </div>
        <div class="detalle-descripcion">
          <p>{{carta.descripcion}}</p>
        </div>
        <div class="adicionales-box">
          <div class="adicionales-box-head">
            <span class="adicionales">Adicionales</span>
          </div>
          <div class="row w-100 mt-3">
            <div class="col-lg-6 col-md-6 p-0">
              <div class="adicionales-box-content">
                <h3>Postres</h3>
                <p class="form-check">
                  <input type="checkbox" id="ckeckbox-1" class="form-check-input" name="adicional">
                  <label for="checkbox-1" class="form-check-label">Arroz con Leche</label>
                </p>
                <p class="form-check">
                  <input type="checkbox" id="ckeckbox-1" class="form-check-input" name="adicional">
                  <label for="checkbox-1" class="form-check-label">Arroz con Leche</label>
                </p>
                <p class="form-check">
                  <input type="checkbox" id="ckeckbox-2" class="form-check-input" name="adicional">
                  <label for="checkbox-2" class="form-check-label">Arroz con Leche</label>
                </p>
              </div>
            </div>
            {{#if carta.lleva_pollo}}
            <div class="col-lg-6 col-md-6 pl-3">
              <div class="adicionales-box-content">
                <h3>Parte Pollo</h3>
                <p class="form-check">
                  <input type="radio" id="ckeckbox-1" class="form-check-input" name="adicional">
                  <label for="checkbox-1" class="form-check-label">Pierna</label>
                </p>
                <p class="form-check">
                  <input type="radio" id="ckeckbox-1" class="form-check-input" name="adicional">
                  <label for="checkbox-1" class="form-check-label">Pecho</label>
                </p>
                <p class="form-check">
                  <input type="radio" id="ckeckbox-2" class="form-check-input" name="adicional">
                  <label for="checkbox-2" class="form-check-label">Encuentro</label>
                </p>
              </div>
            </div>
            {{/if}}
          </div>
        </div>
        <div class="footer-detail-item mt-3">
          <div class="input-cantidad">
            <div class="value-button" id="decrease" onclick="decreaseValue()" value="Decrease Value"><i
                class="fa fa-minus"></i></div>
            <input type="number" id="number" value="1" />
            <div class="value-button" id="increase" onclick="increaseValue()" value="Increase Value"><i
                class="fa fa-plus"></i></div>
          </div>
          <div class="button-add-to-car">
            <button type="button" class="btn btn-warning btn-block btn-bg">
              Agregar al carrito <i class="fas fa-cart-plus"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
<script>
  //const value_price = document.getElementById('price');
  var array = []
  function increaseValue() {
    var value = parseInt(document.getElementById('number').value, 10);
    var value_precio = document.getElementById('precio_shown').value;
    //var original_value = value_precio;
    value = isNaN(value) ? 0 : value;
    value++;
    document.getElementById('number').value = value;
    array.push(value_precio)
    //localStorage.setItem('prices',JSON.stringify(array));
    value_precio = array[0] * value;
    document.getElementById('precio_shown').value = value_precio;
    console.log(value_precio)
    
  }

  function decreaseValue() {
    var value = parseInt(document.getElementById('number').value, 10);
    value = isNaN(value) ? 0 : value;
    value < 1 ? value = 1 : '';
    value--;
    parseFloat(document.getElementById('price').value) *= value;
    console.log(document.getElementById("precio").value);
  }

</script>