<!-- bannersito  -->
<section class="home" id="home">
  <div class="max-width">
    <div class="home-content">
      <div class="text-1">Bienvenidos a</div>
      <div class="text-2">MANOS NORTEÑAS</div>
      <div class="text-3">prueba de nuestra sazon <span class="typing"></span></div>
      <a href="#">Ingresar</a>
    </div>
  </div>
</section>
<!-- Nuestro Equipo -->
<section class="teams" id="teams">
  <div class="max-width">
    <h2 class="title">Nuestro Equipo</h2>
    <div class="carousel owl-carousel" id="carousel">
      {{#each equipo}}
        <div class="card">
          <div class="box">
            <img src="/uploads/{{photo}}" alt="{{nombres}}">
            <div class="text">{{nombres}} {{apellidos}}</div>
            <p>{{descripcion}}</p>
          </div>
        </div>
      {{/each}} 
    </div>
  </div>
</section>