<div class="wrapper-total animate__animated animate__zoomInDown">
  <div class="mantener-header form-inline">
    <div class="title m-0 form-inline">
      <div class="title-label form-inline">
        <i class="fas fa-hamburger mr-2"></i>
        <label>Mantener Empleado</label>
      </div>
      <a href="/mantener-empleado/add" id="add-mantener-producto-btn">
        <button type="button" class="btn btn-success btn-sm">
          <i class="fas fa-plus"></i>
        </button>
      </a>
    </div>
  </div>
  <div class="container">
    <table class="display compact" id="myTable" style="width:100%; text-align: center;">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Nombres</th>
          <th scope="col">Apellidos</th>
          <th scope="col">DNI</th>
          <th scope="col">Telefono</th>
          <th scope="col">Email</th>
          <th scope="col">Puesto</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody id="table">
        {{#each empleado}}
        <tr>
          <td scope="row">{{index @index}}</td>
          <td>{{nombres}}</td>
          <td>{{apellidos}}</td>
          <td>{{dni}}</td>
          <td>{{telefono}}</td>
          <td>{{email}}</td>
          <td>{{rol_nombre}}</td>
          <td id="action-buttons">
            <a href="/mantener-empleado/edit/{{cod_emp}}">
              <button id="edit_button" type="button" class="btn btn-primary btn-sm">
                <i class="fas fa-edit"></i>
              </button>
            </a>
            <a href="/mantener-empleado/delete/{{cod_emp}}" onclick="return confirm('¿Esta seguro que desea eliminar este elemento?');">
              <button type="button" class="btn btn-danger btn-sm">
                <i class="fas fa-trash-alt"></i>
              </button>
            </a>
          </td>
        </tr>
        </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
</div>