<div class="mantener-productos">
  <div class="popup-mantener">
    <div class="wrapper-total content-mantener-producto animate__animated animate__bounceInUp">
      <form class="form-body" action="/configuracion/" method="POST" enctype="multipart/form-data">
        <div class="mantener-heading mb-2">
          <div style="display:flex; align-items:center;">
            <h1 class="m-0 mr-2">Configuración</h1>
            <i class="fas fa-cog"></i>
          </div>
        </div>
        <div class="wrapper-content">
          <div class="inputs">
            <input autocomplete="off" name="nombre_restaurant" class="form-control" placeholder="Nombre Restaurant" type="text" value="{{configuracion.nombre_restaurant}}">
            <input autocomplete="off" name="direccion" class="form-control" placeholder="Dirección" type="text" value="{{configuracion.direccion}}">
            <input autocomplete="off" name="email" class="form-control" placeholder="Email" type="email" value="{{configuracion.email}}">
            <input autocomplete="off" name="igv" class="form-control" placeholder="IGV Monto" type="number" step="0.01" value="{{configuracion.igv}}">
            <input name="hidden_departamento" type="text" id="hidden_departamento" hidden>
            <select name="id_departamento" id="seleccionar-departamento" class="custom-select">
              <option value="{{configuracion.id_departamento}}" selected>{{configuracion.departamento}}</option>
            </select>
            <input name="hidden_provincia" type="text" id="hidden_provincia" hidden>
            <select name="id_provincia" id="seleccionar-provincia" class="custom-select">
              <option value="{{configuracion.id_provincia}}" selected>{{configuracion.provincia}}</option>
            </select>
            <input name="hidden_distrito" type="text" id="hidden_distrito" hidden>
            <select name="id_distrito" id="seleccionar-distrito" class="custom-select">
              <option value="{{configuracion.id_distrito}}" selected>{{configuracion.distrito}}</option>
            </select>
            <div class="form-group">
              <label class="m-0">Logo</label>
              <div class="custom-file">
                <input type="file" name="image" class="custom-file-input" accept="image/*" id="image" lang="es">
                <label class="custom-file-label" for="image">{{configuracion.pathname}}</label>
              </div>
              <div class="form-group col d-flex justify-content-center">
                <img class="mb-0" src="uploads/{{configuracion.pathname}}" alt="No image" height="100px">
              </div>
            </div>
          </div>
        </div>
        <div class="button-wrapper">
          <div class="form-group mt-2 btnRegistrar">
            <input class="btn btn-success" type="submit" id="btnAgregarUsuario" value="Guardar">
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
<script>

//Departamentos
try {
  window.onload = async function () {
      const seleccionar_departamento = document.getElementById("seleccionar-departamento");
      const seleccionar_provincia = document.getElementById("seleccionar-provincia");
      const myRequest = new Request('/json/departamentos.json')
      //Load json 
      fetch(myRequest)
      .then(response => response.json())
      .then(function(data){
        //Mostrar lista en select
        for (index in data) {
          option = document.createElement('option');
          option.text = data[index].nombre_ubigeo;
          option.value = data[index].id_ubigeo;
          seleccionar_departamento.add(option);
        }
      });
  };
} catch (error) {
}

//Provincias
try {
  document.getElementById('seleccionar-departamento').addEventListener('input', function () {
    //* Getting ID value from options
    const values = document.getElementById("seleccionar-departamento").value;
    const myRequest = new Request('/json/provincias.json')
    if(values!==''){
      const seleccionar_provincia = document.getElementById("seleccionar-provincia");
      const seleccionar_distrito = document.getElementById("seleccionar-distrito");
      for (let i = seleccionar_provincia.length; i >= 1; i--) {
        seleccionar_provincia.remove(i);
        seleccionar_distrito.remove(i);
      }
      fetch(myRequest)
      .then(response=>response.json())
      .then(function (data) {
        const data_provincia = data[values];
        for (index in data_provincia) {
          option = document.createElement('option');
          option.text = data_provincia[index].nombre_ubigeo;
          option.value = data_provincia[index].id_ubigeo;
          seleccionar_provincia.add(option);
        }
      });
    }
  })
}catch (error) {
}

//Distritos
try {
  document.getElementById('seleccionar-provincia').addEventListener('input', function () {
    const values = document.getElementById("seleccionar-provincia").value;
    const myRequest = new Request('/json/distritos.json');
    if(values!==''){
      const seleccionar_distrito = document.getElementById("seleccionar-distrito");
      for (let i = seleccionar_distrito.length; i >= 1; i--) {
        seleccionar_distrito.remove(i);
      }
      fetch(myRequest)
      .then(response=>response.json())
      .then(function (data) {
        const data_distritos = data[values];
        for (index in data_distritos) {
          option = document.createElement('option');
          option.text = data_distritos[index].nombre_ubigeo;
          option.value = data_distritos[index].id_ubigeo;
          seleccionar_distrito.add(option);
        }
      });
    }
  })
}catch (error) {
}

//This is used when changing value in cbo, its getting true value in input_hidden and not Ucayali(last one)

//Departamento
const seleccionar_departamento = document.getElementById("seleccionar-departamento");
const input_hidden_departamento = document.getElementById('hidden_departamento');
seleccionar_departamento.addEventListener('change',function(){
  input_hidden_departamento.value = seleccionar_departamento.options[seleccionar_departamento.selectedIndex].text
});
//Provincia
const seleccionar_provincia = document.getElementById("seleccionar-provincia");
const input_hidden_provincia = document.getElementById('hidden_provincia');
seleccionar_provincia.addEventListener('change',function(){
  input_hidden_provincia.value = seleccionar_provincia.options[seleccionar_provincia.selectedIndex].text
});
//Distrito
const seleccionar_distrito = document.getElementById("seleccionar-distrito");
const input_hidden_distrito = document.getElementById('hidden_distrito');
seleccionar_distrito.addEventListener('change',function(){
  input_hidden_distrito.value = seleccionar_distrito.options[seleccionar_distrito.selectedIndex].text
});
</script>