<div class="wrapper-total">
  <form class="form-body" action="/generar-cuenta/edit/{{venta.cod_ven}}" method="POST">
    <div class="wrapper-content d-flex flex-column">
      <div class="row">
        <input class="dato_user form-control mb-2" type="text" value="{{user.nombres}} {{user.apellidos}}" readonly>
        <input type="text" class="fecha_actual form-control mb-2" readonly placeholder="{{formatdaytime venta.fecha_venta}}"
          style="text-align: center;">
        <select style="text-align-last: center;" name="estado_pago" class="custom-select mb-2" id="">
          <option value="{{venta.estado_pago}}" selected>{{venta.estado_pago}}</option>
          <option value="Truncado">Truncado</option>
          <option value="Cancelado">Cancelado</option>
        </select>
        <a class="btn btn-danger btn-block" href="/generar-cuenta">Cancelar</a>
        <button class="btn btn-success btn-block" type="submit">Modificar Venta</button>
      </div>
    </div>
  </form>
</div>