<div>
  <div class="wrapper-total">
    <form class="form-body" action="/generar-cuenta/edit/{{venta.cod_ven}}" method="POST">
      <div class="wrapper-content">
        <div class="wrapper-input1">
          <div class="input-wrapper">
            <select name="nombre_segundo" class="custom-select">
              {{#select venta.cod_segundo}}
              {{#each segundo}}
              <option value="{{cod_segundo}}">{{nombre_segundo}}</option>
              {{/each}}
              {{/select}}
            </select>
            <input name="cant_segundo" class="form-control" placeholder="Cantidad" type="number" min="0" max="10"
              value="{{venta.cant_segundo}}">
          </div>
          <div class="input-wrapper">
            <select required name="nombre_entrada" class="custom-select">
              {{#select venta.cod_entrada}}
              {{#each entrada}}
              <option value="{{cod_entrada}}">{{nombre_entrada}}</option>
              {{/each}}
              {{/select}}
            </select>
            <input name="cant_entrada" class="form-control" placeholder="Cantidad" type="number" min="0" max="10"
              value="{{venta.cant_entrada}}">
          </div>
          <div class="input-wrapper">
            <select name="nombre_producto" class="custom-select" required>
              {{#select venta.cod_prod}}
              <option value="" selected>Seleccione Producto...</option>
              {{#each producto}}
              <option value="{{cod_prod}}">{{nombre_producto}}</option>
              {{/each}}
              {{/select}}
            </select>
            <input name="cant_producto" class="form-control" placeholder="Cantidad" type="number" min="0" max="10"
              value="{{venta.cant_producto}}">
          </div>
        </div>

        <div class="wrapper-input2">
          <input class="dato_user form-control" type="text" value="{{user.nombres}} {{user.apellidos}}" readonly>

          <select required name="cod_tipo_pago" class="custom-select">
            {{#select venta.cod_tipo_pago}}
            {{#each tipo_pago}}
            <option value={{cod_tipo_pago}}>{{nombre}}</option>
            {{/each}}
            {{/select}}
          </select>

          <input type="text" class="fecha_actual form-control" readonly
            placeholder="{{formatdaytime venta.fecha_venta}}">
        </div>
      </div>
      <div class="button-wrapper">
        <div class="form-group btnCancelar">
          <a class="btn btn-danger btn-block" href="/generar-cuenta">Cancelar</a>
        </div>
        <div class="form-group btnRegistrar">
          <button class="btn btn-success btn-block" type="submit">Modificar Venta</button>
        </div>
      </div>
  </div>
  </form>
</div>
{{!-- <script>
  $(function () {
  $('#check-in').datepicker({
    numberOfMonths: 1,
    dateFormat: 'DD,d MM,yy',
    onSelect: function (selectdate) {
      var dt = new Date(selectdate);
      dt.setDate(dt.getDate() + 1)
      $('#check-out').datepicker("option", "minDate", dt);
    }
  });
  $('#check-out').datepicker({
    numberOfMonths: 1,
    dateFormat: 'DD,d MM,yy',
    onSelect: function (selectdate) {
      var dt = new Date(selectdate);
      dt.setDate(dt.getDate() - 1)
      $('#check-in').datepicker("option", "maxDate", dt);
    }
  });
});
</script> --}}