<div class="wrapper-total animate__animated animate__zoomInDown">
  <form class="form-body" action="/generar-cuenta" method="POST">
    <div class="container d-flex">
      <div class="col-6 p-0">
        <div class="form-row">
          <div class="col-md-5 mb-3">
            <label>Cajero</label>
            <input class="dato_user form-control" type="text" name="caja" value="{{user.nombres}} {{user.apellidos}}" readonly>
          </div>
          <div class="col-md-4 mb-3">
            <label>Num.Mesa</label>
            <input name="num_mesa" type="number" class="form-control" maxlength="2" min="1" required readonly>
          </div>
          <div class="col-md-2 m-0 d-flex justify-content mb-3">
            <button class="btn btn-outline-success btn-lg">
              <i class="fas fa-plus-circle"></i>
            </button>
          </div>
        </div>
        <div class="form-row">
          <div class="col-md-5 mb-3">
            <label>Fecha</label>
            <input name="fecha" type="number" class="form-control" maxlength="2" min="1" id="date" readonly>
          </div>
          <div class="col-md-4 mb-3">
            <label>Subtotal</label>
            <input name="subtotal" type="number" class="form-control" maxlength="2" min="1" readonly>
          </div>
        </div>
        <div class="form-row">
          <div class="col-md-5 mb-3">
            <label>Tipo de Pago</label>
            <select name="tipo_pago" class="custom-select">
              {{#each tipo_pago}}
                <option value="{{cod_tipo_pago}}">{{nombre}}</option>
              {{/each}}
            </select>
          </div>
          <div class="col-md-4 mb-3">
            <label>Total</label>
            <input name="total" type="number" class="form-control" maxlength="2" min="1" readonly>
          </div>
        </div>
      </div>

      <div class="col-6 p-0">
        <div class="form-row">
          <div class="col-md-5 mb-3">
            <label>Tipo de Comprobante</label>
            <select name="tipo_comprobante" class="custom-select" id="tipo_comprobante">
              {{#each tipo_comprobante}}
                <option value="{{cod_tipo_comprobante}}">{{nombre}}</option>
              {{/each}}
            </select>
          </div>
          <div class="col-md-7 mb-3">
            <label>Razon Social</label>
            <input name="razon_social" type="text" class="form-control" id="razon_social" readonly>
          </div>
        </div>
        <div class="form-row">
          <div class="col-md-5 mb-3">
            <label>Numero Ruc</label>
            <input name="razon_social" type="text" class="form-control" id="num_ruc" readonly>
          </div>
          <div class="col-md-7 mb-3">
            <label>Direccion</label>
            <input name="direccion" type="text" class="form-control" id="direccion" readonly>
          </div>
        </div>
        <div class="form-row">
          <div class="col-md-12">
            <button class="btn btn-success btn-block" type="submit">Registrar Venta</button>
          </div>
        </div>
      </div>
    </div>
  </form>
  <div class="container">
    <table class="display compact" id="myTable" style="width:100%">
      <thead>
        <tr>
          <th>Num.Ticket</th>
          <th>Fecha</th>
          <th>Tipo Pago</th>
          <th>Estado Pago</th>
          <th>Valor</th>
          <th>Monto Total</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        {{#each venta}}
        <tr>
          <td scope="row">{{cod_ven}}</td>
          <td>{{formatdaytime fecha_venta}}</td>
          <td>{{nombre}}</td>
          <td>{{estado_pago}}</td>
          <td>{{money valor}}</td>
          <td>{{money monto_total}}</td>
          <td>
            <a href="/generar-cuenta/edit/{{cod_ven}}">
              <button type="button" class="btn btn-primary btn-sm">
                <i class="fas fa-edit"></i>
              </button>
            </a>
            <a target="_blank" href="/generar-cuenta/print/{{cod_ven}}">
              <button type="button" class="btn btn-secondary btn-sm">
                <i class="fas fa-print"></i>
              </button>
            </a>
          </td>
        </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
</div>
<script>
  const date_input = document.querySelector('#date');
  const cbo_tipo_comprobante = document.getElementById('tipo_comprobante');

  cargarEventListeners();
  function cargarEventListeners(){
    window.addEventListener('load',()=>{
      setInterval(clock,1000);
    });
    cbo_tipo_comprobante.addEventListener('change',onChangeTipoComprobante);
  }

  function clock(){
    var date = new Date();
    var day = date.getDate();
    var month = date.getMonth();
    var year = date.getFullYear();
    var hour = date.getHours();
    var min = date.getMinutes();
    var sec = date.getSeconds();
    
    //*Validations date (conditional - ternary operator)
    var sec = (sec<10) ? `0${sec}` : sec;
    var min = (min<10) ? `0${min}` : min;
    var hour = (hour<10) ? `0${hour}`: hour;
    //var month = (month<=10) ? `0${month+1}` : `${month+1}`; (Not working!!) 
    var month = (month.length===1) ? `0${month+1}` : `${month+1}`;
    const time = document.getElementById('date').placeholder = `${day}/${month}/${year} ${hour}:${min}:${sec}`
    return time;
  }
  function onChangeTipoComprobante(){
    const value = cbo_tipo_comprobante.options[cbo_tipo_comprobante.selectedIndex].value;
    const razon_social_input = document.getElementById('razon_social');
    const num_ruc_input = document.getElementById('num_ruc');
    const direccion_input = document.getElementById('direccion');
    switch(value){
      case '1':
        razon_social_input.setAttribute('readonly',true);
        num_ruc_input.setAttribute('readonly',true);
        direccion_input.setAttribute('readonly',true);
        break
      case '2': //*** Value(2) Factura
        razon_social_input.removeAttribute('readonly');
        num_ruc_input.removeAttribute('readonly');
        direccion_input.removeAttribute('readonly');
        break
    }
  }
</script>