<div class="wrapper-total">
  <div class="wrapper-content">
    <div class="wrapper-input1">
      <div class="input-wrapper">
        <select class="custom-select">
          <option selected>Seleccione Menu...</option>
          <option value="1">One</option>
          <option value="2">Two</option>
          <option value="3">Three</option>
        </select>
        <input class="form-control" placeholder="Cantidad" type="number" min="1" max="10">
      </div>
      <div class="input-wrapper">
        <select class="custom-select">
          <option selected>Seleccione Producto...</option>
          <option value="1">One</option>
          <option value="2">Two</option>
          <option value="3">Three</option>
        </select>
        <input class="form-control" placeholder="Cantidad" type="number" min="1" max="10">
      </div>
      <div class="input-wrapper">
        <input class="form-control" type="text" readonly>
      </div>
    </div>

    <div class="wrapper-input2">
      <select class="custom-select">
        <option selected>Seleccione Cajera</option>
        <option value="1">One</option>
        <option value="2">Two</option>
        <option value="3">Three</option>
      </select>

      <select class="custom-select">
        <option selected>Tipo de Pago...</option>
        <option value="1">Contado</option>
        <option value="2">VISA</option>
      </select>
      
      <input type="text" placeholder="06/06/20" class="form-control" readonly>
    </div>
  </div>
  <div class="form-group btnRegistrar">
    <button class="btn btn-success btn-block">Registrar Boleta</button>
  </div>
  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>  
        <th scope="col">Fecha</th>
        <th scope="col">Tipo Pago</th>
        <th scope="col">Estado Pago</th>
        <th scope="col">Valor</th>
        <th scope="col">Monto Total</th>
      </tr>
    </thead>
    <tbody>
      {{#each venta}}
      <tr>
        <th scope="row">{{cod_ven}}</th>
        <th>{{formatdaytime fecha_venta}}</th>
        <td>{{tipo_pago}}</td>
        <td>{{estado_pago}}</td>
        <td>{{money valor}}</td>
        <td>{{money monto_total}}</td>
      </tr>
      {{/each}}
    </tbody>
  </table>

</div>