<div class="wrapper-total">
  <form class="form-body" action="/generar-cuenta" method="POST">
    <div class="wrapper-content">
      <div class="wrapper-input1">
        <div class="input-wrapper">
          <select name="nombre_segundo" class="custom-select">
            <option selected>Seleccione Segundo...</option>
            {{#each segundo}}
            <option value="{{cod_segundo}}">{{nombre_segundo}}</option>
            {{/each}}
          </select>
          <input name="cant_segundo" class="form-control" placeholder="Cantidad" type="number" min="1" max="10">
        </div>
        <div class="input-wrapper">
          <select name="nombre_entrada" class="custom-select">
            <option selected>Seleccione Entrada...</option>
            {{#each entrada}}
            <option value="{{cod_entrada}}">{{nombre_entrada}}</option>
            {{/each}}
          </select>
          <input name="cant_entrada" class="form-control" placeholder="Cantidad" type="number" min="1" max="10">
        </div>
        <div class="input-wrapper">
          <select name="nombre_producto" class="custom-select">
            <option selected>Seleccione Producto...</option>
            {{#each producto}}
            <option value="{{cod_prod}}">{{nombre_producto}}</option>
            {{/each}}
          </select>
          <input name="cant_producto" class="form-control" placeholder="Cantidad" type="number" min="1" max="10">
        </div>
      </div>

      <div class="wrapper-input2">
        <input class="form-control" type="text" value="{{user.nombres}} {{user.apellidos}}" readonly>

        <select name="cod_tipo_pago" class="custom-select">
          <option selected>Tipo de Pago...</option>
          {{#each tipo_pago}}
          <option value={{cod_tipo_pago}}>{{nombre}}</option>
          {{/each}}
        </select>

        <input type="text" placeholder="06/06/20" class="form-control" readonly>
      </div>
    </div>
    <div class="form-group btnRegistrar">
      <input type="submit" class="btn btn-success btn-block" value="Accept">
    </div>
  </form>
  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Fecha</th>
        <th scope="col">Tipo Pago</th>
        <th scope="col">Estado Pago</th>
        <th scope="col">Valor</th>
        <th scope="col">Monto Total</th>
      </tr>
    </thead>
    <tbody>
      {{#each venta}}
      <tr>
        <th scope="row">{{index @index}}</th>
        <th>{{formatdaytime fecha_venta}}</th>
        <td>{{nombre}}</td>
        <td>{{estado_pago}}</td>
        <td>{{money valor}}</td>
        <td>{{money monto_total}}</td>
      </tr>
      {{/each}}
    </tbody>
  </table>

</div>