<div class="wrapper-comanda animate__animated animate__zoomInDown form-inline">
  <form class="registrar-comanda-form form-inline" action="/generar-cuenta" method="POST">
    <div class="registrar-comanda-inputs col-md-6" id="lista-comanda">
      <div class="form-row">
        <div class="col-md-5 mb-3">
          <label>Menu - Segundo</label>
          <select name="nombre_segundo" class="custom-select" id="nombre_segundo" onchange="changedSegundo()">
            {{#each segundo}}
              <option value="{{cod_segundo}}">{{nombre_segundo}}</option>
            {{/each}}
          </select>
        </div>
        <div class="col-md-5 mb-3">
          <label>Cant.Segundo</label>
          <input name="cant_segundo" class="form-control" placeholder="Cantidad" type="number" min="0" max="10" id="cant_segundo" value="0" readonly>
        </div>
        <div class="col-md-2 m-0 d-flex align-items-strecht mb-3">
          <button class="btn btn-outline-primary agregar-segundo">
            <i class="fas fa-cart-plus fa-lg"></i>
          </button>
        </div>
      </div>
      <div class="form-row">
        <div class="col-md-5 mb-3">
          <label>Menu - Entrada</label>
          <select name="nombre_entrada" class="custom-select" id="nombre_entrada" onchange="changedEntrada()">
          {{#each entrada}}
            <option value="{{cod_entrada}}">{{nombre_entrada}}</option>
          {{/each}}
        </select>
        </div>
        <div class="col-md-5 mb-3">
          <label>Cant.Entrada</label>
          <input name="cant_entrada" class="form-control" placeholder="Cantidad" type="number" min="0" max="10" id="cant_entrada" value="0" readonly>
        </div>
        <div class="col-md-2 m-0 d-flex align-items-strecht mb-3">
          <button class="btn btn-outline-primary agregar-entrada">
            <i class="fas fa-cart-plus fa-lg"></i>
          </button>
        </div>
      </div>

      <div class="form-row">
        <div class="col-md-5 mb-3">
          <label for="nombre_producto">Producto</label>
          <select name="nombre_producto" class="custom-select" onchange="changedProducto()" id="nombre_producto">
            {{#each producto}}
            <option value="{{cod_prod}}">{{nombre_producto}}</option>
            {{/each}}
          </select>
        </div>
        <div class="col-md-5 mb-3">
          <label>Cant.Producto</label>
          <input name="cant_producto" class="form-control" placeholder="Cantidad" type="number" min="0" max="10" id="cant_producto" value="0" readonly>
        </div>
        <div class="col-md-2 m-0 d-flex align-items-strecht mb-3">
          <button class="btn btn-outline-primary agregar-producto">
            <i class="fas fa-cart-plus fa-lg"></i>
          </button>
        </div>
      </div>
    </div>
    <div class="form-group col-md-6 m-0">
      <div class="form-group mb-2 table-responsive" id="carrito-comanda">                              
        <table id="lista-carrito-comanda" class="table table-active table-sm table-hover" style="table-layout: fixed;">
            <thead class="thead-dark">
                <tr>
                    <th style="width: 50%">Nombre</th>
                    <th style="width: 40%">Cantidad</th>
                    <th style="width: 10%"></th>
                </tr>
            </thead>
            <tbody>
              <tr>
                <td>Gaseosa Inka Cola 500ml</td>
                <td>2</td>
                <td>
                    <button type="button" class="close" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                </td>
              </tr>
            </tbody>
        </table>
      </div>
      <div class="form-group btnRegistrar">
        <button class="btn btn-success btn-block" type="submit">Registrar Comanda</button>
      </div>
    </div>
  </form>
  <div class="row mx-auto mt-2 table-fixed table-fixed-2">
    <table class="table table-sm table-active">
      <thead class="thead-dark">
        <tr>
          <th scope="col">#</th>
          <th scope="col">Fecha</th>
          <th scope="col">Num.Mesa</th>
          <th scope="col">Menu.Segundo</th>
          <th scope="col">Menu.Entrada</th>
          <th scope="col">Productos</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody id="table">
        {{#each venta}}
        <tr>
          <th scope="row">{{cod_ven}}</th>
          <td>{{formatdaytime fecha_venta}}</td>
          <td>{{nombre}}</td>
          <td>{{estado_pago}} <br> Aji de Gallina</td>
          <td>{{money valor}} <br> Caldo de Pollo</td>
          <td>{{money monto_total}} <br> Gaseosa Inka Cola</td>
          <td>
            <a href="/generar-cuenta/edit/{{cod_ven}}">
              <button type="button" class="btn btn-primary btn-sm">
                <i class="fas fa-edit"></i>
              </button>
            </a>
            <a target="_blank" href="/generar-cuenta/print/{{cod_ven}}">
              <button type="button" class="btn btn-secondary btn-sm">
                <i class="fas fa-print"></i>
              </button>
            </a>
          </td>
        </tr>
        </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
</div>
<script>
  const carrito_comanda = document.querySelector('#carrito-comanda');
  const contenedorCarritoComanda = document.querySelector('#lista-carrito-comanda tbody');
  const listaComanda = document.querySelector('#lista-comanda');
  let articulosComanda = []
  function addEventListener(){
    // Cuando agregas un curso presionando "Agregar al Carrito"
    listaComanda.addEventListener('click',agregarEntrada);
    // Elimina cursos del carrito
    //listaComanda.addEventListener('click', eliminarEntrada);
  }
  function agregarEntrada(e){
    e.preventDefault();
    if (e.target.classList.contains('agregar-entrada')){
      const row_combo_box = e.target.parentElement.parentElement;
      leerDatosComboBoxes(row_combo_box);
    }
  }
  function leerDatosComboBoxes(row_combo_box){
    const nombre_entrada = row_combo_box.querySelector('#nombre_entrada');
    //Getting string values
    const nombre = nombre_entrada.options[nombre_entrada.selectedIndex].text;
    const cantidad = row_combo_box.querySelector('#cant_entrada').value;

    const get_data_boxes = {
      nombre,
      cantidad
    }
    console.log(get_data_boxes);
    //Check if any elements already exists
    const existe = articulosComanda.some(entrada => entrada.nombre === get_data_boxes.nombre);
    if (existe){
      //Update quantity
      const entrada = articulosComanda.map(entrada => {
        if(entrada.nombre === get_data_boxes.nombre){
          entrada.cantidad = entrada.cantidad+get_data_boxes.cantidad;
          return entrada;
        }else{
          return entrada;
        }
      });
      articulosComanda = [...entrada];
    }else{
      articulosComanda = [...articulosComanda,get_data_boxes]
    }
    carrito_comanda_HTML();
  }
  function carrito_comanda_HTML(){
    limpiar_carrito_comanda_HTML();
    articulosComanda.forEach(entrada => {
      const {nombre,cantidad} = entrada;
      const row = document.createElement('tr');
      row.innerHTML = `
        <td>${nombre}</td>
        <td>${cantidad}</td>
        <td>
          <button type="button" class="close" aria-label="Close" data-id="${nombre}">
            <span aria-hidden="true">&times;</span>
          </button>
        </td>
      `;
      contenedorCarritoComanda.appendChild(row);
    });
  }
  function limpiar_carrito_comanda_HTML(){
    while(contenedorCarritoComanda.firstChild){
      contenedorCarritoComanda.removeChild(contenedorCarritoComanda.firstChild);
    }
  }
</script>