<div class="wrapper-comanda animate__animated animate__zoomInDown form-inline">
  <form class="registrar-comanda-form form-inline" action="/generar-cuenta" method="POST">
    <div class="registrar-comanda-inputs col-md-6">
      <div class="form-row">
        <div class="col-md-5 mb-3">
          <label>Menu - Segundo</label>
          <select name="nombre_segundo" class="custom-select" id="nombre_segundo" onchange="changedSegundo()">
            {{#each segundo}}
              <option value="{{cod_segundo}}">{{nombre_segundo}}</option>
            {{/each}}
          </select>
        </div>
        <div class="col-md-5 mb-3">
          <label>Cant.Segundo</label>
          <input name="cant_segundo" class="form-control" placeholder="Cantidad" type="number" min="0" max="10" id="cant_segundo" value="0" readonly>
        </div>
        <div class="col-md-2 m-0 d-flex align-items-strecht mb-3">
          <button class="btn btn-outline-primary">
            <i class="fas fa-cart-plus"></i>
          </button>
        </div>
      </div>
      <div class="form-row">
        <div class="col-md-5 mb-3">
          <label>Menu - Entrada</label>
          <select name="nombre_entrada" class="custom-select" id="nombre_entrada" onchange="changedEntrada()">
          {{#each entrada}}
            <option value="{{cod_entrada}}">{{nombre_entrada}}</option>
          {{/each}}
        </select>
        </div>
        <div class="col-md-5 mb-3">
          <label>Cant.Entrada</label>
          <input name="cant_entrada" class="form-control" placeholder="Cantidad" type="number" min="0" max="10" id="cant_entrada" value="0" readonly>
        </div>
        <div class="col-md-2 m-0 d-flex align-items-strecht mb-3">
          <button class="btn btn-outline-primary">
            <i class="fas fa-cart-plus"></i>
          </button>
        </div>
      </div>

      <div class="form-row">
        <div class="col-md-5 mb-3">
          <label for="nombre_producto">Producto</label>
          <select name="nombre_producto" class="custom-select" onchange="changedProducto()" id="nombre_producto">
            {{#each producto}}
            <option value="{{cod_prod}}">{{nombre_producto}}</option>
            {{/each}}
          </select>
        </div>
        <div class="col-md-5 mb-3">
          <label>Cant.Producto</label>
          <input name="cant_producto" class="form-control" placeholder="Cantidad" type="number" min="0" max="10" id="cant_producto" value="0" readonly>
        </div>
        <div class="col-md-2 m-0 d-flex align-items-strecht mb-3">
          <button class="btn btn-outline-primary">
            <i class="fas fa-cart-plus"></i>
          </button>
        </div>
      </div>
    </div>
    <div class="form-group col-md-6 m-0" id="carrito">                              
      <table id="lista-carrito" class="table table table-sm" style="table-layout: fixed;">
          <thead>
              <tr>
                  <th>Nombre</th>
                  <th>Precio</th>
                  <th>Cantidad</th>
              </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">1</th>
              <td>asd</td>
              <td>asd</td>
            </tr>
            <tr>
              <th scope="row">1</th>
              <td>asd</td>
              <td>asd</td>
            </tr>
            <tr>
              <th scope="row">1</th>
              <td>asd</td>
              <td>asd</td>
            </tr>
            <tr>
              <th scope="row">1</th>
              <td>asd</td>
              <td>asd</td>
            </tr>
            <tr>
              <th scope="row">1</th>
              <td>asd</td>
              <td>asd</td>
            </tr>
          </tbody>
      </table>
      <div class="form-group btnRegistrar">
        <button class="btn btn-success btn-block" type="submit">Registrar Comanda</button>
      </div>
    </div>
  </form>
  <div class="row mx-auto mt-2 table-fixed table-fixed-2">
    <table class="table table-sm">
      <thead class="thead-dark">
        <tr>
          <th scope="col">#</th>
          <th scope="col">Fecha</th>
          <th scope="col">Num.Mesa</th>
          <th scope="col">Menu.Segundo</th>
          <th scope="col">Menu.Entrada</th>
          <th scope="col">Productos</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody id="table">
        {{#each venta}}
        <tr>
          <th scope="row">{{cod_ven}}</th>
          <td>{{formatdaytime fecha_venta}}</td>
          <td>{{nombre}}</td>
          <td>{{estado_pago}} <br> Aji de Gallina</td>
          <td>{{money valor}} <br> Caldo de Pollo</td>
          <td>{{money monto_total}} <br> Gaseosa Inka Cola</td>
          <td>
            <a href="/generar-cuenta/edit/{{cod_ven}}">
              <button type="button" class="btn btn-primary btn-bg">
                <i class="fas fa-edit"></i>
              </button>
            </a>
            <a target="_blank" href="/generar-cuenta/print/{{cod_ven}}">
              <button type="button" class="btn btn-secondary btn-bg">
                <i class="fas fa-print"></i>
              </button>
            </a>
          </td>
        </tr>
        </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
</div>